[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "==21.0.1"
requests = "==2.31.0"
beautifulsoup4 = "==4.12.3"
selenium = "==4.19.0"
webdriver-manager = "==4.0.1"

[dev-packages]
pytest = "==8.2.0"
bump2version = "==1.0.1"

[requires]
python_version = "3.10.12"
